{% extends 'AppBundle:Admin:base.html.twig' %}

{% block body %}
    <h1>Users list</h1>
    <ul>
        <li>
            <a href="{{ path('admin_users_new') }}">Create a new user</a>
        </li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_users_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_users_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
